@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }

  50% {
      background-position: 100% 100%;
  }

  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}
body {
  font-family: 'Lato', serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  background: linear-gradient(45deg, #0d0d0d, #1e1e1e);
  animation: blinkGradient 10s infinite;
  transition: background 0.5s ease-in-out;
}

@keyframes blinkGradient {
  0% {
      background: linear-gradient(45deg, #1e3c72, #2a5298);
  }
  25% {
      background: linear-gradient(45deg, #2a5298, #243f5a);
  }
  50% {
      background: linear-gradient(45deg, #25598c, #07325e);
  }
  75% {
      background: linear-gradient(45deg, #0d3761, #1e3c72);
  }
  100% {
      background: linear-gradient(45deg, #1e3c72, #2a5298);
  }
} 
.container {
  background: #2c2c2c;
  padding: 0.5rem 1.875rem 2rem; /* Adjust the bottom padding as needed */
  border-radius: 8px;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  animation: animateContainer 0.5s ease-in-out;
  transition: box-shadow 0.3s ease;
  color: #fff;
  padding: 30px;
}

.container h1, .container form {
  margin-top: 8px; /* Adjust this value as needed to move content upward */
}

.container:hover {
  box-shadow: 0 16px 48px rgba(0, 128, 255, 0.5);
}

h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  color: #f0f0f0;
  animation: fadeInDown 1s ease;
  font-family: 'Baskervviller', serif;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 .highlight {
  background: linear-gradient(90deg, #007bff, #00aaff);
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientMove 3s infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #f0f0f0;
  animation: fadeInLeft 1s ease;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background: #333;
  color: #fff;
  animation: fadeInRight 1s ease;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus,
input[type="file"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button[type="submit"]:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 16px;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}

.back-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

#success-message {
  text-align: center;
  padding: 20px;
  background-color: #2a2a2a;
  color: #007bff;
}

.hidden {
  display: none;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.check-background {
  background-color: #28a745;
  border-radius: 50%;
  padding: 10px;
  animation: animateShadow 0.5s ease-in-out;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  margin: 0 auto 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  animation: fadeInRight 1s ease;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  font-size: 30px;
  color: #ddd;
  cursor: pointer;
  transition: color 0.3s ease;
  margin: 0 2px; /* Reduced margin between stars */
}

.rating input[type="radio"]:checked ~ label {
  color: #f7c00f;
}

.rating label:hover,
.rating label:hover ~ label {
  color: #f7c00f;
}

.back-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1rem;
  animation: fadeInLeft 1s ease;
}

.back-button:hover {
  background-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 128, 255, 0.5);
}

svg {
  width: 40px;
  height: 40px;
}

@keyframes animateContainer {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes animateShadow {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .rating {
    margin: 0 20px 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  label {
    font-size: 0.9rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea,
  input[type="file"] {
    font-size: 0.9rem;
    padding: 8px;
  }

  button[type="submit"] {
    padding: 8px;
  }

  .back-button {
    padding: 0.4rem 0.8rem;
    margin-left: 0;
  }
}
.rating-container button {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  transition: transform 0.3s ease; /* Added transition for smooth scaling */
  margin: 18px;
}
.rating-container button:hover {
  transform: scale(1.5);
}


@media screen and (max-width: 491px) {
  .rating-container button {
    margin: 10px;
  }
  .rating-container button:hover {
      transform: scale(1.2); /* Adjust scaling for smaller screens */
  }
}
@media screen and (max-width: 400px) {
  .rating-container button {
    margin: 5px;
  }
  .rating-container button:hover {
      transform: scale(1.2); /* Adjust scaling for smaller screens */
  }
}