:root {
  --primary-color: #0f045a;
  --theme-color1: #7582b2;
  --theme-color2: #036c96;
  --theme-color3: #ebf2ff;
  --shadow-color1: #352a7e;
  --shadow-color2: #101536;
  --border-color1: #080126;
  --background-col: #c6cede; 
  --container-bg-color: #b0b8c4;
  --scrollbar-color: #555555;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
.home-icon {
  margin: -15px;  
  margin-left: -40px;
} 

@media screen and (max-width: 768px) {  
  .home-icon {
    margin: -4px;  
    margin-left: 15px; 
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  background-color: var(--container-bg-color);
  color: var(--primary-color);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fantasy";
}

body {
  line-height: 1.6;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color:#c6cede;;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-color: #080126;
}

@keyframes colorChange {
  0% {
    color: #3c0654; /* Initial color */
  }
  50% {
    color: #7582b2; /* Intermediate color */
  }
  100% {
    color: #3c0654; /* Final color */
  }
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #3c0654;
  font-weight: bolder;
  margin-bottom: 20px;
  animation: colorChange 2s infinite;
}

h2 {
  font-size: 2rem;
  color: #3c0654;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.7rem;
  color: #3c0654;
  margin-top: 20px;
  margin-bottom: 10px;
}

p, ol {
  color: #1f1a3f;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: justify;
}

ol {
  padding-left: 20px;
}

hr {
  border: 0;
  height: 1px;
  background: #3c0654;
  margin: 30px 0;
}

.center {
  display: block;
  margin: 20px auto;
  width: 80%;
  border: 1px solid #3c0654;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  border-radius: 5px;
  overflow: hidden;
}

table, th, td {
  border: 1px solid #3c0654;
}

th, td {
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: #1f1a3f;
}

th {
  background-color: #3c0654;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #c6cede;
}

.footer {
  text-align: center;
  font-size: 1.5rem;
  color: #3c0654;
  margin-top: 30px;
}

/* Card styles */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #3c0654;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin-top: 0;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: auto;
}

.card p {
  margin-bottom: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container .card {
  flex: 1 1 30%;
  margin: 10px;
  min-width: 250px;
}

img:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}


hr {
  border: 0;
  height: 2px;
  background: linear-gradient(to right, var(--primary-color), var(--theme-color3), var(--primary-color));
  margin: 30px 0;
}
.back-button { 
    position: fixed;
    bottom: 90%;
    left: 4%;
    transform: translateX(-50%);
    text-align: center;
}

.back-up{
  position: fixed;
  left: 4%;
  text-align: center;
  width:50px;
  height: 50px;
  background: #7582b2;
  bottom: 40px;
  right: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  border-radius: 50%;
  transition: transform ease 0.37s;
  z-index: 9999;
}
.back-up:hover{
  cursor: pointer;
  transform: scale(1.1); 
  background: #5365a5;
}
.home-icon {
    width: 50px;
    height: 50px;
}
.homeButton{
    text-align: center;
}
.back-to-home {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4a3286;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}
.back-to-home:hover
{
  transform: scale(0.99);
  background-color: #4922ac;
  box-shadow: 0 8px 12px rgba(0, 21, 255, 0.2);
}