* {
  box-sizing: border-box;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
  user-select: none;
}

body {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  overflow-x: hidden;
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Standard syntax */
}

:root {
  --primary-color: #0f045a;
  --theme-color1: #7582b2;
  --theme-color2: #036c96;
  --theme-color3: #ebf2ff;
  --shadow-color1: #352a7e;
  --shadow-color2: #101536;
  --border-color1: #080126;
  --background-col: #c6cede;
  --scrollbar-color: #77bdec;
}

body {
  font-family: 'Roboto Mono', monospace;
  overflow-y: scroll;
  background: linear-gradient(135deg, #ebf2ff 0%, #7582b2 100%);
  color: #333;
  transition: background 0.5s ease;
  background-repeat: no-repeat;
  background-color: var(--background-col);
}

.color-picker-container {
  padding: 20px;
  background-color: white;
  border: 1px solid var(--border-color1);
  box-shadow: 0 4px 8px var(--shadow-color1);
  width: 300px;
  margin: 50px auto;
  border-radius: 10px;
}

.color-picker-container h2 {
  color: var(--primary-color);
}

.color-picker-container form {
  display: flex;
  flex-direction: column;
}

.color-picker-container label {
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--theme-color1);
}

.color-picker-container input[type="color"] {
  border: 1px solid var(--border-color1);
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

#apply-theme-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--theme-color2);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#apply-theme-btn:hover {
  background-color: var(--theme-color3);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--shadow-color2);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 30px;
}

.button-73 {
  appearance: none;
  background-color: var(--background-col);
  border-radius: 40em;
  border-style: none;
  box-shadow: var(--theme-color1) 0 -12px 6px inset;
  box-sizing: border-box;
  color: var(--shadow-color2);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
}

.button:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.05);
}

.button:active {
  transform: scale(1.03);
}

.button-73:hover {
  background-color: var(--theme-color1);
  box-shadow: var(--shadow-color1) 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

.heading {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 0.5rem;
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  text-shadow: 2px 2px 4px var(--shadow-color1);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  letter-spacing: 1px;
  font-style: normal;
  margin: 1rem 0;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 100vw;
  margin-left: 20vw;
  background-color: var(--background-col);
  transition: background-color 0.5s ease;
  overflow-y: auto;
}

.full-width {
  margin-left: 0;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.main-grid {
  display: grid;
  width: 60vw;
  height: 30vw;
  min-width: 60vw;
  min-height: 30vw;
}

.cell {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: solid 0.001rem var(--border-color1);
  background-color: #cadcfc;
  cursor: pointer;
  transition: 0.2s ease;
}

.cell.alive {
  background-color: #00246b;
}

.cell:hover {
  transform: scale(1.3);
  border: 1px solid white;
  z-index: 1;
}

.cell:active {
  scale: 1;
}

.controls input {
  height: auto;
  width: auto;
  border-radius: 6px;
  gap: 30%;
  text-align: center;
  margin: 0 auto;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.control-button {
  transition: transform 0.2s ease;
  font-size: 1.1rem;
}

.control-button:hover {
  transform: scale(1.1);
}

.icon-svg {
  --fill-col: var(--primary-color);
}

.random-button {
  border: solid 0.1rem var(--border-color1);
  border-radius: 0.6rem;
  height: calc((100%) / 1.8);
  width: auto;
  text-align: center;
  padding: 0.5rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primary-color);
  background-color: var(--theme-color3);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  margin: 0 0.5rem;
}

#new-height::placeholder {
  color: var(--primary-color);
}

.random-button:hover {
  box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-color2);
}

.random-button:active {
  box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-color2);
  transform: translateY(0.1rem);
}

.icon:active {
  transform: translateY(0.1rem);
}

#change-grid-button {
  margin-left: 1rem;
  margin-right: 1rem;
}

#random-button {
  margin-right: 1.25rem;
}

#toggleButton {
  color: var(--primary-color);
  border-radius: 5px;
  border-style: none;
  font-size: 1.7rem;
  background: none;
  margin: 1px;
  z-index: 1;
  position: absolute;
  left: 2rem;
  top: 1.8rem;
}

.sidenav {
  height: 100vh;
  width: 30