* {
    box-sizing: border-box;
    background-color: #c6cede;
  }
  p,ol{
    font-family: "Roboto Mono", monospace;
  padding-bottom: 1.5rem;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f1a3f;
 
  }
  h1{
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 3rem;
    color: #3c0654;
    text-decoration: underline;
  }
  h2{
    font-size: 2rem;
    text-decoration: underline;
    color: #3c0654;
  }
  h3{
    font-size: 1.7rem;
    text-decoration: underline;
    color: #3c0654;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  table{
    border: #3c0654 solid;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: #1f1a3f;
  
  }
  .footer{
    text-align: center;
    font-size: 3rem;
    color: #3c0654;
  }