* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #c6cede; 
  line-height: 1.6;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #3c0654;
  text-decoration:dotted;
  margin-bottom: 20px;
  
}

h1:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
  letter-spacing: 0.1em;
  color:#c6cede;
  -webkit-text-stroke: 1px #3c0654;
  
}

h2 {
  font-size: 2rem;
  color: #3c0654;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.7rem;
  color: #b5b5b6;
  margin-top: 20px;
  margin-bottom: 10px;
}

p, ol {
  color: #d6d0d0;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: justify;
}

ol {
  padding-left: 20px;
}

hr {
  border: 0;
  height: 1px;
  background: #3c0654;
  margin: 30px 0;
}

.center {
  display: block;
  margin: 20px auto;
  width: 80%;
  border: 1px solid #3c0654;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  border-radius: 5px;
  overflow: hidden;
}

table, th, td {
  border: 1px solid #3c0654;
}

th, td {
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: #1f1a3f;
}

th {
  background-color:#352a7e;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #c6cede;
}

.footer {
  text-align: center;
  font-size: 1.5rem;
  color:#e0e0e0;
  margin-top: 30px;
}

/* Card styles */
.card {
  background-color:  #080126;
  border: 1px solid #b0b0b0;
  color:whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.408);
  margin: 20px 0;
  padding: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.937);
}

.card h3 {
  margin-top: 0;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  
}

.card p {
  margin-bottom: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container .card {
  flex: 1 1 30%;
  margin: 10px;
  min-width: 250px;
}

img:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}
