* {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--background-col);
}

:root{
  --primary-color: #0f045a;
  --shadow-color1: #352a7e;
  --shadow-color2: #101536;
  --border-color1: #080126;
  --secondary-color: #dcdcdc;
  --tertiary-color: #4e4e4e;
  --background-col: #c6cede;
}


.heading {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 0.2rem #000;
  max-width: 62vw;
  max-height: 31vw;
  margin: auto;
}

.main-grid {
  display: grid;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  background-color: inherit;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.001rem var(--border-color1);
}

.controls {
  display: flex;
  flex-direction: row;
  min-width: 40vw;
  height: 5rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.control-button {
  border: none;
  background: none;
  padding: 1rem;
  cursor: pointer;
  outline: none;
}

.icon{
  width: calc((30vw)/8);
  height: calc((30vw)/8);
}

.clear-button, .random-button{
  border: solid 0.1rem #000000;
  border-radius: 0.6rem;
  height: calc((100%)/1.8);
  width: auto;
  text-align: center;
  padding: 0.5rem;
  border-color: var(--border-color1);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primary-color);
}

.clear-button{
  margin-right: 1rem;
}

.random-button{
  margin-left: 1rem;
}

.clear-button:hover, .random-button:hover {
  box-shadow: 0.1rem 0.1rem var(--shadow-color1);
}

.clear-button:active, .random-button:active{
  box-shadow: 0.1rem 0.1rem var(--shadow-color2);
  transform: translateY(0.1rem);
}

.icon:active{
  transform: translateY(0.1rem);
}

