* {
  box-sizing: border-box;
}

.heading {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 1px #000;
}

.main-grid {
  display: grid;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  background-color: inherit;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.001rem #dcdcdc;
  cursor: pointer;
}

.controls {
  display: flex;
  flex-direction: row;
  max-width: 40vw;
  height: 5rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

button {
  border: none;
  background: none;
  padding: 1rem;
  cursor: pointer;
  outline: none;
}

.icon{
  width: 2.5rem;
  height: 2.5rem;
}

.clear-button, .random-button{
  border: solid 0.1rem #000000;
  border-radius: 0.6rem;
  height: calc((100%)/2);
  text-align: center;
  padding: 0.4rem;
}

.clear-button{
  margin-right: 1rem;
}

.random-button{
  margin-left: 1rem;
}

.clear-button:hover, .random-button:hover {
  box-shadow: 0.1rem 0.1rem #4e4e4e;
}

.clear-button:active, .random-button:active{
  box-shadow: 0.1rem 0.1rem #000000;
  transform: translateY(0.1rem);
}

.icon:active{
  transform: translateY(0.1rem);
}

