* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-color: #0f045a;
  --theme-color1: #7582b2;
  --theme-color2: #036c96;
  --theme-color3: #ebf2ff;
  --shadow-color1: #352a7e;
  --shadow-color2: #101536;
  --border-color1: #080126;
  --background-col: #c6cede;
}

.heading {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 0.5rem;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
  margin-left: 20vw;
  background-color: var(--background-col);
}

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 0.2rem var(--border-color1);
  max-width: 62vw;
  max-height: 31vw;
}

.main-grid {
  display: grid;
  justify-content: center;
  margin: auto;
  background-color: inherit;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.001rem var(--border-color1);
}

.controls {
  display: flex;
  flex-direction: row;
  min-width: 40vw;
  height: 5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.control-button {
  border: none;
  background: none;
  padding: 1rem;
  cursor: pointer;
  outline: none;
}

.icon {
  width: calc((30vw) / 8);
  height: calc((30vw) / 8);
}

.clear-button,
.random-button {
  border: solid 0.1rem var(--border-color1);
  border-radius: 0.6rem;
  height: calc((100%) / 1.8);
  width: auto;
  text-align: center;
  padding: 0.5rem;
  /* roboto mono*/
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primary-color);
  background-color: var(--theme-color3);
}

.clear-button {
  margin-right: 1rem;
}

.random-button {
  margin-left: 1rem;
}

.clear-button:hover,
.random-button:hover {
  box-shadow: 0.1rem 0.1rem var(--shadow-color1);
}

.clear-button:active,
.random-button:active {
  box-shadow: 0.1rem 0.1rem var(--shadow-color2);
  transform: translateY(0.1rem);
}

.icon:active {
  transform: translateY(0.1rem);
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100vh;
  width: 20vw;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--border-color1);
  overflow-x: hidden;
  padding-top: 2rem;
}

/* Style the sidenav links and the dropdown button */
.sidenav button,
.other-settings,
.other-settings-container div,
.presets-container div,
.color-themes,
.themes-container div,
.presets,
.history {
  padding: 0.8rem 0.5rem 0.8rem 1.6rem;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over exclude .other-settings*/
.has-dropdown:hover {
  color: #fff;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: var(--theme-color2);
  color: white;
}

.other-settings,
.color-themes,
.presets,
.history {
  font-size: 1.2rem;
}

.other-settings {
  font-weight: bold;
  color: var(--theme-color1);
}

.other-settings-container {
  background-color: var(--shadow-color2);
}

/* Dropdown container (hidden by default) */
.themes-container,
.presets-container {
  display: none;
  background-color: var(--shadow-color2);
  padding-left: 0.2rem;
}

.presets-list:active {
  color: #fff;
}

@media screen and (max-width: 750px) {
  .sidenav {
    width: 100vw;
    height: auto;
    position: relative;
    padding-top: 0.5rem;
  }
  .sidenav button,
  .other-settings,
  .other-settings-container div,
  .presets-container div,
  .color-themes,
  .themes-container div,
  .presets,
  .history {
    padding: 0.6rem 0.4rem 0.6rem 1.2rem;
    text-decoration: none;
    font-size: 0.8rem;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
  }

  .game {
    width: 100vw;
    margin: 0;
  }
  .clear-button,
  .random-button {
    height: calc((100%) / 2.5);
    width: auto;
    text-align: center;
    padding: 0.4rem;
    font-size: 0.7rem;
  }
  .heading {
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    margin-top: 0.2rem;
    font-size: 1.5rem;
  }
  .active {
    background-color: var(--theme-color2);
    color: white;
  }
}
