* {
  box-sizing: border-box;
}

.heading {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 1px #000;
}

.main-grid {
  display: grid;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  background-color: inherit;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.001rem #dcdcdc;
  cursor: pointer;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

button {
  border: none;
  background: none;
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  outline: none;
}

/* button:hover {
  background-color: #d8edff;
  box-shadow: 0.05rem 0.05rem 0.05rem #a5a5a5;
}

button:active{
  box-shadow: 0.05rem 0.05rem 0.05rem #151515;
  transform: translateY(0.2rem);
} */